/* container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* wrap */
.wrap {
  position: relative;
  width: 70%;
  position: relative;
  background: var(--white-color);
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

/* account-info */
.account-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 9.375em;
  position: relative;
  top: -56px;
}

.profile-img img {
  border-radius: 50%;
  width: 100%;
}

.user-info {
  text-align: center;
  margin-top: -75px;
  line-height: 0.7;
  color: var(--font-color);
}

.user-name {
  font-size: 2rem;
  line-height: 1.1;
}

.user-faculty {
  font-size: 1.125rem;
  font-weight: 200;
}

/* class-schedule */
.class-schedule {
  margin-top: 1em;
  padding: 0 0.65em;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-class-btn {
  font-size: 0.8em;
  width: 95px;
  height: 35px;
  border-radius: 0.3125em;
  border: none;
  background: var(--basic-color);
  color: var(--white-color);
  cursor: pointer;
}

/* classes */
.classes {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.class p {
  margin: 0;
}

.class {
  background: var(--basic-color);
  color: white;
  padding: 1.3em 0.625em;
  border-radius: 0.3125em;
}

.class-info {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.credits {
  display: flex;
  gap: 1.5em;
}

.schedule {
  display: flex;
  gap: 0.3125em;
}

/* logout */
.humburger-menu {
  position: absolute;
  width: 2.1875em;
  right: 0;
  cursor: pointer;
  z-index: 4;
}

.ver-message {
  background: var(--white-color);
  color: var(--font-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 0.625em 0.9375em;
  text-align: center;
  border-radius: 0.3125em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125em 0.9375em;
  display: none;
}

.ver-message p:first-child {
  font-weight: bold;
}

.ver-message p:nth-child(2) {
  text-align: left;
  margin: 1.2em 0;
}

.ver-message button {
  font-size: 1.1rem;
  padding: 0.3125em 0.9375em;
  margin: 0 0.3125em;
  border: none;
  border-radius: 0.2125em;
}

.ver-message button :first-child {
  border: 0.05em solid #000;
}

.ver-message button:last-child {
  background: var(--basic-color);
  color: var(--white-color);
}

.remove-btn {
  width: 1.25em;
  position: absolute;
  right: -0;
  transform: translate(-1.125em, -5.7em);
  cursor: pointer;
}

/* nfc-scan */
.scan-nfc {
  background: var(--white-color);
  position: fixed;
  bottom: 0;
  padding: 0.9375em 0.3125em;
  text-align: center;
  border-radius: 0.625em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125em 0.9375em;
  color: var(--font-color);
  transform: translateY(100%);
  transition: 0.5s ease;
}

.nfc-icon {
  width: 6.25em;
  border: 0.3125em solid var(--basic-color);
  border-radius: 50%;
  padding: 0.3125em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
}

.nfc-icon img {
  width: 100%;
}

.cancel-nfc-scan {
  width: 80%;
  padding: 1em 0.3125em;
  border: none;
  border-radius: 0.3125em;
  background: #d9d9d9;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1.1em;
}

.scan-nfc h2 {
  font-weight: 300;
}

.scan-nfc p {
  color: #000;
}

.fade-in {
  transform: translateY(0%);
}

.fade-out {
  transform: translateY(100%);
}

/* navbar */
nav {
  transform: translateY(-100%);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50vh;
  background: var(--basic-color);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
}

.nav-lists {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 0;
  gap: 0.8em;
}

.list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.225em;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
}

.nav-icon {
  width: 30px;
}

.logout-icon {
  background: #d9d9d9;
  color: var(--font-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3125em;
  margin-top: 25px;
  border-radius: 0.3125em;
}

.logout-icon img {
  width: 30px;
}

/* Responsive Breakpoint */
/* Small devices */
@media screen and (max-width: 36em) {
  .wrap {
    top: -10em;
    width: 93%;
  }

  .humburger-menu {
    transform: translateY(-3.75em);
  }

  .scan-nfc {
    width: 95%;
  }
}

/* Medium - Large devices */
@media screen and (min-width: 36.1em) {
  .element-bg {
    height: 3em;
  }

  .wrap {
    top: -7em;
  }

  .humburger-menu {
    transform: translateY(-2.8125em);
  }

  .logout-message {
    top: 40%;
  }

  .scan-nfc {
    width: 40%;
  }
}
