html {
  scroll-behavior: smooth;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* sign-up */
.wrap {
  width: 21em;
  position: relative;
  top: -10em;
}

.create-class-form {
  display: flex;
  flex-direction: column;
  padding: 1.5625em 1.25em;
  font-family: var(--roboto);
  box-shadow: rgba(0, 0, 0, 0.12) 0 0.125em 0.25em,
    rgba(0, 0, 0, 0.24) 0 0.125em 0.1875em;
  border-radius: 0.625em;
  background: var(--white-color);
}

.create-class-form > label {
  color: var(--font-color);
  margin-bottom: 0.3125em;
}

.create-class-form > input,
select {
  height: 3.5em;
  margin-bottom: 0.625em;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.3125em 0.625em;
  border-radius: 0.3125em;
}

.title {
  font-family: var(--baloo-bhai);
  color: var(--white-color);
  font-size: 2rem;
  margin-bottom: -0.2em;
  margin-left: 0.4375em;
}

.create-class-btn {
  height: 3em;
  margin-top: 0.625em;
  border: none;
  background: var(--basic-color);
  color: white;
  border-radius: 0.3125em;
  cursor: pointer;
}

.form-wrap {
  display: flex;
  justify-content: space-between;
}

.wrap-1,
.wrap-2 {
  display: flex;
  flex-direction: column;
}

.wrap-1 input,
.wrap-2 input {
  height: 3.5em;
  margin-bottom: 0.625em;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.3125em 0.625em;
  border-radius: 0.3125em;
  width: 9.2em;
}

.wrap-1 select {
  width: 10em;
}

.wrap-1 label,
.wrap-2 label {
  color: var(--font-color);
  margin-bottom: 0.3125em;
}

.back-icon {
  position: absolute;
  width: 1.875em;
  top: 0.9375em;
  left: 0;
}

.create-class-message {
  position: fixed;
  top: 0.625em;
  text-align: center;
  padding: 0.3125em 1em;
  border-radius: 0.625em;
  background: #e6e6e6;
  z-index: 999;
  transform: translateY(-150%);
  transition: 0.5s;
}

.ok-button {
  margin-top: 1.3em;
  color: blue;
  cursor: pointer;
}

/* Responsive Breakpoint */
/* Small devices */
@media screen and (max-width: 36em) {
  .back-icon {
    padding-left: 10px;
  }
}

/* Medium - Large devices */
@media screen and (min-width: 36.1em) {
  .element-bg {
    height: 3em;
  }

  .wrap {
    top: -10.5em;
  }

  .back-icon {
    padding-left: 1.25em;
  }
}
